body {
  background-color: #D9D9D9;
}
.access {
  display: inline;
  display: flex; 
  justify-content: center; 

}
.textImage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.img1,.img2,.img3 {
  border-radius: 20%;
}
.container {
  background-color: #F8FAFC;
  padding: 25px;
  border-radius: 10px;
  width: 500px
}
.date {
  color: #4D5562;
}
.title1 {
  display: inline block;
}