body {
  background-color: #D9D9D9;
}
.access {
  display: inline;
  display: flex; 
  justify-content: center; 

}
.container {
  background-color: #F8FAFC;
  padding: 25px;
  border-radius: 10px;
  width: 500px
}
.date {
  color: #4D5562;
}
.title1 {
  display: inline block;
}